In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("https://www.dropbox.com/s/k94xzp4qjuoxcp1/train.csv?dl=1")

In [3]:
train.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [4]:
test = pd.read_csv("https://www.dropbox.com/s/0mnday26niaqc6i/test.csv?dl=1")

In [5]:
test.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [9]:
list(test.columns)

['key',
 'pickup_datetime',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude',
 'passenger_count']

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
lr = LinearRegression()

In [18]:
lr.fit(X  = train[['pickup_longitude' ,'pickup_latitude', 'dropoff_longitude' , 'dropoff_latitude', 'passenger_count']] , y =train['fare_amount'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
LinearRegression(copy_X =True , fit_intercept= True , n_jobs= None , normalize = False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
features=['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'passenger_count']

In [22]:
test['fare_amount']= lr.predict(test[features])

In [23]:
submit= pd.read_csv('https://www.dropbox.com/s/j74r663n1ftwhig/sample_submission.csv?dl=1')

In [24]:
submit.head()

                           key  fare_amount
0  2015-01-27 13:08:24.0000002        11.35
1  2015-01-27 13:08:24.0000003        11.35
2  2011-10-08 11:53:44.0000002        11.35
3  2012-12-01 21:12:12.0000002        11.35
4  2012-12-01 21:12:12.0000003        11.35

In [27]:
tax_submission  = test[['key' , 'fare_amount']]

In [28]:
tax_submission.to_csv('C:\kaggle/sub.csv', index =False)

In [30]:
tax_submission.head()

                           key  fare_amount
0  2015-01-27 13:08:24.0000002    11.271595
1  2015-01-27 13:08:24.0000003    11.275116
2  2011-10-08 11:53:44.0000002    11.272725
3  2012-12-01 21:12:12.0000002    11.272538
4  2012-12-01 21:12:12.0000003    11.269637